 /*body { 
    background: linear-gradient(purple, green, blue);
  }
  */
  
  
  
  #crystalBall {
    width: 350px;
    height: 350px;
    background: linear-gradient(100deg, white, black);
    filter: blur(1px);
    margin: auto;
    margin-top: 20px;
    border-radius: 100%;
    opacity: .25;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    
    
    
  }
  #answer {
    font-size: 30px;
    
    
  }
  .trapezoid {
    border-bottom: 50px solid goldenrod;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    margin-top: -40px;
    margin-bottom: 10px;
  }
  
  
  
  